body {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--blue); }

html {
  height: 100%; }

.text {
  opacity: 0.7; }

.text-h2 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px; }

h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 40px; }

.triangle {
  font-size: 45px;
  color: var(--blue);
  text-shadow: 0 0 10px var(--blue); }

.triangle:hover {
  text-shadow: 0 0 30px var(--green); }

.t-cover {
  height: 80px; }

@keyframes triangle {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 20px; } }

.triangle-anim {
  animation-name: triangle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.3s;
  animation-timing-function: ease-in; }

#textAnimated {
  display: none; }

#app {
  font-size: 10rem;
  animation: elastic 1s ease-in-out infinite;
  text-shadow: 0 0 40px var(--blue); }

#app:hover {
  text-shadow: 0 0 40px var(--green); }

.text-item {
  display: inline-flex; }
  .text-item > div:hover {
    transform: scale(1.6) !important;
    transition: transform .2s ease-in-out; }

.white {
  color: white; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

@keyframes elastic {
  0%, 100% {
    letter-spacing: -1.5rem; }
  50% {
    letter-spacing: -0.5rem; } }

@media (max-width: 768px) {
  body {
    display: block; }
  #app {
    font-size: 60px;
    margin-top: 150px; }
  h1 {
    margin-left: 10px;
    margin-right: 10px; } }
