body {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--blue);
}

html{
  height: 100%;
}

h1{
  text-align: center;
}

#textAnimated {
  display: none;
}

#app {
  font-size: 10rem;
  animation: elastic 1s ease-in-out infinite;
  cursor: default;
}

.text-item {
  display: inline-flex;
  // mix-blend-mode: multiply;
  
  > div:hover {
    transform: scale(2) !important;
    transition: transform .2s ease-in-out;
  }
}

.white {
  color: white;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

@keyframes elastic {
  0%, 100% {
    letter-spacing: -1.5rem;
  } 50% {
      letter-spacing: -0.5rem;
  }
}

@media(max-width: 768px){
  body{
    display: block;
  }
  #app{
    font-size: 60px;
    margin-top: 150px;
  }
}

