
html, body{
    min-height: 100%;
}

body{
    background-color: black;
    padding-bottom: 80px;
}

.boxed{
    padding: 30px;
    margin: 10px, auto;
    color: whitesmoke;
    background-color : #12100f;
    line-height: 1.8em;
}



.page-middle{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    display: flex;
    height: 100%;
    align-items: center;

}

.footer{
    position:fixed;
    bottom:0;
    background-color: black;
    left: 0;
    right:0;
    padding: 10px;
    border-top: solid 3px rgb(44, 4, 37);
    color:rgb(44, 4, 37);
        
}

.copy-float-r{
    float: right;
}

a{
    text-decoration: none;
    color: black;
}

small{
    font-size: 12px;
}

.mt-3{
    margin-top: 3px;
}

.eye-1{
    position: absolute;
    margin-top: 360;
    margin-left: 40;
    width:180px;
}

.eye-2{
    position: absolute;
    margin-top: 230;
    margin-left: 1100;
    width:100px;
}

.eye-3{
    position: absolute;
    margin-top: 500;
    margin-left: 500; 
    width:80px;
}

.eye-4{
    position: absolute;
    margin-top: 20;
    margin-left: 720;
    width:90px;
}

.eye-5{
    position: absolute;
    margin-top: 440;
    margin-left: 1050;
    width:90px;
}

.eye-6{
    position: absolute;
    margin-top: 90;
    margin-left: 140;
    width:80px;
}

@keyframes blink {
    0% { opacity: 0.0; }
    28% { opacity: 0.0; }
    50% { opacity: 0.4; } 
    65% { opacity: 0.4; } 
    70% { opacity: 0.2; }
    100% { opacity: 0.0; } 
}

.anim-1{
    animation-name: blink;
    animation-duration: 6s;
    opacity: 0;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}

.anim-2{
    animation-name: blink;
    animation-duration: 4s;
    opacity: 0;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

.anim-3{
    animation-name: blink;
    animation-duration: 10s;
    opacity: 0;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

.anim-4{
    animation-name: blink;
    animation-duration: 4s;
    opacity: 0;
    animation-delay: 14s;
    animation-iteration-count: infinite;
}

.anim-5{
    animation-name: blink;
    animation-duration: 3s;
    opacity: 0;
    animation-delay: 17s;
    animation-iteration-count: infinite;
}

.anim-6{
    animation-name: blink;
    animation-duration: 7s;
    opacity: 0;
    animation-delay: 19s;
    animation-iteration-count: infinite;
}



    
