
html, body{
    min-height: 100%;
}

body{
    background-color: black;
    color: whitesmoke;
    padding-bottom: 80px;
    
}

.footer{
    position:fixed;
    bottom:0;
    background-color: black;
    left: 0;
    right:0;
    padding: 10px;
    border-top: solid 3px rgb(44, 4, 37);
    color:#13bdb7;
    
}

.f-flex{
    display: flex;
    justify-content: space-between; 
}

.pre{
    font-size:12px; 
    opacity:0.3;
}

a{
    text-decoration: none;
    color:#13bdb7;
    margin-top: 2px;
}

.grid-body{
    display: grid;
    grid-template-columns: 230px 700px 320px;
    grid-template-rows: 100px auto 100px;
}
.grid-logo{
    grid-column-start: 1;
    grid-row-start: 1;
}

.grid-h1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

.grid-main{
    grid-column-start: 2;
    grid-row-start:2;
}

.aside-grid{
    grid-column-start: 3;
    grid-row-start: 2;
}


small{
    font-size: 12px;
    margin-top:4px;
}


/*@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
	
	border-right: .1em solid whitesmoke;
	width: 16.5em; 
	width: 54ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
    animation: typing 8s steps(54, end), blink-caret .3s step-end infinite alternate;
    
}*/

.elements{
    display: flex;
    max-width: 420px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

figure{
    height: 118px;
    width: 118px;
    margin:5px;
    position: relative;
    transition: transform 1s, margin .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    backface-visibility: hidden;
}

.flipped {
    cursor: default;
    transform: rotateY( 180deg );
}

figure img {
    height: 118px;
    width: 118px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY( 180deg );
}

figcaption {
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
   
}

.al-r{
    text-align: right;
}

h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-weight: 500;
}

h3{
    text-align: right;
    font-size: 32px;
    margin-top: 20px;
    margin-right: 4px;
}

h4{
    margin-top: -2px;
    margin-left: 2px;
    padding-bottom: 5px;
}

.elements figure small{
    display: block;
    text-align: right;
    margin-right: 4px;
    margin-top: 22px;
}

.elements figure .el-br{
   margin-top: 10px;
}

.el-col-blu{
    color:#13bdb7;
    border: solid 3px #13bdb7;
}
.el-col-blu-in{
    border: solid 1px #13bdb7;
}

.el-col-pnk{
    color:#f2118d;
    border: solid 3px #f2118d;
}
.el-col-pnk-in{
    border: solid 1px #f2118d;
}

.el-col-grn{
    color:#09f266;
    border: solid 3px #09f266;
}
.el-col-grn-in{
    border: solid 1px #09f266;
}

.el-col-ylw{
    color:#e5fa00;
    border: solid 3px #e5fa00;
}
.el-col-ylw-in{
    border: solid 1px #e5fa00;
}

.el-col-red{
    color:#ff0303;
    border: solid 3px #ff0303;
}
.el-col-red-in{
    border: solid 1px #ff0303;
}

.unlocked{
    display: inline-block;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(44, 4, 37);
    color: whitesmoke;
    border: 3px solid pink;
    text-decoration: none;
    width: 200px;
    text-align: center;
    margin-top: 10px;
    margin-left: 44px;
}

.mt-30{
    margin-top: 40px;
}

.name{
    
    font-weight: 700;
    font-size:32px;
    margin:24px;
    text-align: center;
    
}

.aside-item{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    border:0;
    margin:16px;
    text-align: center;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes pop {
    0% { opacity: 0; transform: scale(0.5) }
    80% {opacity: 1; transform:scale(1.1)}
    100% { opacity: 1; transform: scale(1) }
}

.anim-pop{
    animation-name: pop;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


