
:root {
    font-family: 'Montserrat', sans-serif;
}

html, body{
    min-height: 100%;
}

body{
    background-color: white;
}

.footer{
    position:fixed;
    bottom:0;
    background-color: black;
    left: 0;
    right:0;
    padding: 10px;
    border-top: solid 3px rgb(44, 4, 37);
    color:rgb(44, 4, 37);
        
}

.mt-3{
    margin-top: 3px;
}

.copy-float-r{
    float: right;
}

small{
    font-size: 12px;
}

.el-box-1{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-1{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-2{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-2{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-3{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-3{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-4{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-4{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-5{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-5{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-6{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-6{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-7{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-7{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-8{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-8{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-9{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-9{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-10{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-10{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-11{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-11{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}

.el-box-12{
    height: 110px;
    width: 110px;
    margin-left: 3px;
    margin-top: 3px;
    border: solid 1px green;
}
.el-b-box-12{
    height: 118px;
    width: 118px;
    border: solid 3px green;
}