

.window-center{
    display: flex;
    height: calc(100vh - 47px);
    align-items: center;

}


a {
    text-decoration: none;
    color: #13bdb7;
    margin-top: 2px;
}

.pre {
    font-size: 12px;
    opacity: 0.3;
}


.middled {
    margin: 0px auto;
    max-width: 650px;
    height: 600px;
    position: relative;
    display: grid;
    width: 100%;
}

.grid-body {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 33.3%);
}

.draggable {
    cursor: pointer;
}

figure{
    color: var(--red);
    position: absolute;
    left: 50%;
    top: 50%;
}
.overlay-css figure{
    color: var(--blue);
}
.overlay-js figure{
    color: var(--green);
}
.overlay-soft-skills figure{
    color: var(--pink);
}
.overlay-interests figure{
    color: var(--yellow);
}
.overlay-experience figure{
    color: var(--red);
}

.circled.collapse {
    width: 40px;
    height: 40px;

}

.grid-circle-1 {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
    justify-self: center;
    margin-top: -10px;
    margin-left: -20px;
}

.grid-circle-2 {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
    margin-top: -10px;
    margin-left: 0;
}

.grid-circle-3 {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

.grid-circle-4 {
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
    margin-top: 0px;
    margin-left: -10px;
}

.grid-circle-5 {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: right;
    margin-right: -65px;
    margin-top: 0px;
}

.grid-circle-6 {
    grid-column-start: 3;
    grid-row-start: 3;
    margin-top: 0px;
    margin-left: -65px;
}

.circled {
    border: 3px solid;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s, width 1s;
    overflow: hidden;
    white-space: nowrap;
}

.circled-in {
    border: 1px solid;
    border-radius: 100px;
    width: 120px;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.final-touch {
    display: inline-block;
    padding: 10px;
    background-color: black;
    color: var(--blue);
    width: 150px;
    border: 2px solid var(--blue);
    pointer-events: none;
    opacity: 0.3;
    transition: opacity 1s, box-shadow 0.3s;
    text-align: center;
    box-shadow: 0 0 0 0 var(--pink);
    position: absolute;
    right: 15px;
    margin-top: 45px;
    top:0;
}


.final-touch:hover {
    box-shadow: 0px 0px 40px 10px var(--pink);
}

@keyframes wobbly-1 {
    25% {
        margin-left: -10px;
        margin-top: 10px;
    }
    50% {
        margin-left: 0px;
        margin-top: -10px;
    }
    75% {
        margin-left: 10px;
        margin-top: 10px;
    }
    100% {
        margin-left: 20px;
        margin-top: -10px;
    }
}

@keyframes wobbly-2 {
    25% {
        margin-left: 0px;
        margin-top: 10px;
    }
    50% {
        margin-left: -10px;
        margin-top: 0px;
    }
    75% {
        margin-left: 10px;
        margin-top: 0px;
    }
}

@keyframes wobbly-4 {
    33% {
        margin-left: 10px;
        margin-top: 0px;
    }
    66% {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@keyframes wobbly-5 {
    25% {
        margin-right: -75px;
        margin-top: 10px;
    }
    50% {
        margin-right: -65px;
        margin-top: 20px;
    }
    75% {
        margin-right: -55px;
        margin-top: 10px;
    }
}

@keyframes wobbly-6 {
    33% {
        margin-left: -55px;
        margin-top: 0px;
    }
    66% {
        margin-left: -65px;
        margin-top: 10px;
    }
    100% {
        margin-left: -55px;
        margin-top: 10px;
    }
}

.anim-wobbly-1 {
    animation-name: wobbly-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.anim-wobbly-2 {
    animation-name: wobbly-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.anim-wobbly-4 {
    animation-name: wobbly-4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.anim-wobbly-5 {
    animation-name: wobbly-5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.anim-wobbly-6 {
    animation-name: wobbly-6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.el-col-blu {
    color: #13bdb7;
    border-color: #13bdb7;
}

.el-col-pnk {
    color: #f2118d;
    border-color: #f2118d;
}

.el-col-grn {
    color: #09f266;
    border-color: #09f266;
}

.el-col-ylw {
    color: #e5fa00;
    border-color: #e5fa00;
}

.el-col-red {
    color: #ff0303;
    border-color: #ff0303;
}

.el-col-gry {
    color: #333333;
    border-color: #333333;
    border-style: dashed;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 47px);
    z-index: 200;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

.point-1{
    color: var(--blue);
    margin-top: -300px;
    margin-left: -400px;
}

.close{
    position: absolute;
    width: 90px;
    height: 60px;
    top: 14px;
    right: 0px;
    cursor: pointer;
    background-image: url("/svg/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
}

.visible {
    pointer-events: all;
    opacity: 1;
}

.overlay object {
    width: 380px;
    margin-top: -30px;
}

.overlay #svg-js{
    width: 540px;
    margin-top: -70px;
}

figure h2 {
    font-size: 24px;
}

/*CSS*/

.overlay-css figure:nth-child(1){
    margin-top: -190px;
    margin-left: -203px;
}

.overlay-css figure:nth-child(2){
    margin-top: 24px;
    margin-left: -300px;
}

.overlay-css figure:nth-child(3){
    margin-top: -130px;
    margin-left: 195px;
}

.overlay-css figure:nth-child(4){
    margin-top: 72px;
    margin-left: 170px;
}

/* JS */

.overlay-js figure:nth-child(1){
    margin-top: -229px;
    margin-left: -31px;
}

.overlay-js figure:nth-child(2){
    margin-top: 71px;
    margin-left: -380px;
}

.overlay-js figure:nth-child(3){
    margin-top: 60px;
    margin-left: 280px;
}


/*Soft-skills*/

.overlay-soft-skills figure:nth-child(1){
    margin-top: -183px;
    margin-left: -8px;
}

.overlay-soft-skills figure:nth-child(2){
    margin-top: -122px;
    margin-left: -315px;
}

.overlay-soft-skills figure:nth-child(3){
    margin-top: -100px;
    margin-left: 195px;
}

.overlay-soft-skills figure:nth-child(4){
    margin-top: -77px;
    margin-left: -289px;
}

.overlay-soft-skills figure:nth-child(5){
    margin-top: -41px;
    margin-left: 184px;
}


.overlay-soft-skills figure:nth-child(6){
    margin-top: -20px;
    margin-left: -287px;
}

.overlay-soft-skills figure:nth-child(7){
    margin-top: 0px;
    margin-left: 123px;
}

 /*Interests*/

.overlay-interests figure:nth-child(1){
    margin-top: -145px;
    margin-left: -240px;
}

.overlay-interests figure:nth-child(2){
    margin-top: -210px;
    margin-left: 0px;
}

.overlay-interests figure:nth-child(3){
    margin-top: -125px;
    margin-left: 185px;
}

.overlay-interests figure:nth-child(4){
    margin-top: -10px;
    margin-left: -290px;
}

.overlay-interests figure:nth-child(5){
    margin-top: 0px;
    margin-left: 200px;
}


.overlay-interests figure:nth-child(6){
    margin-top: 120px;
    margin-left: -235px;
}

.overlay-interests figure:nth-child(7){
    margin-top: 112px;
    margin-left: 135px;
}
 /*Experience*/
.overlay-experience figure:nth-child(1){
    margin-top: -165px;
    margin-left: -240px;

}

.overlay-experience figure:nth-child(2){
    margin-top: -230px;
    margin-left: -30px;
}

.overlay-experience figure:nth-child(3){
    margin-top: -168px;
    margin-left: 165px;
}

.overlay-experience figure:nth-child(4){
    margin-top: -10px;
    margin-left: -290px;
}

.overlay-experience figure:nth-child(5){
    margin-top: 0px;
    margin-left: 200px;
    text-shadow: 0px 0px 10px var(--pink), 0px 0px 20px var(--pink), 0px 0px 40px var(--pink);
}

.overlay-experience figure:nth-child(5):hover{
    text-shadow: 0px 0px 10px var(--blue), 0px 0px 20px var(--blue), 0px 0px 40px var(--blue);
}

figure a {
    color: var(--red);
}

.overlay-experience figure:nth-child(6){
    margin-top: 118px;
    margin-left: -202px;
}

.overlay-experience figure:nth-child(7){
    margin-top: 112px;
    margin-left: 135px;
}

@media(max-width: 768px){
    .window-center{
        display: block;
        height: auto;
        text-align: center;
    }

    .grid-body{
        display: inline-block;
        height:730px;
        width:auto;
        margin-top: 120px; 
    }
    .el-col-gry{
        display: none;
    }

    .final-touch{
        position: static;

    }

    body{
        text-align: center;
    }

    .overlay{
        height: 860px;
        display: block;
        position: absolute;
    }

    object{
        display: none;
    }

    .overlay figure {
        margin: 50px 0 0 0 !important;
        position: static;
    }

  

}

