
html, body{
    min-height: 100%;
}

body{
    background-color: black;
    padding-bottom: 80px;
}

.middled{
    margin: 20px auto;
    max-width: 900px;
    height: 900px;
    border: 1px solid white;
    position: relative;
    display: grid;
}

.grid-body{
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, 33.3%);
    grid-gap: 10px;
}

.grid-circle-1{
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
    justify-self: center;
}
.grid-circle-2{
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;

}
.grid-circle-3{
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}
.grid-circle-4{
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}
.grid-circle-5{
    grid-column-start: 1;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
    margin-left:  240px;
    margin-top: -100px;
}
.grid-circle-6{
    grid-column-start: 3;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
    margin-left: -240px;
    margin-top: -100px;
}

.circled{
    border: 3px solid ;
    border-radius: 100px;
    width:130px; 
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circled-in{
    border: 1px solid;
    border-radius: 100px;
    width:110px;
    height: 110px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes wobbly-1{
    0% {}
    25% {
        margin-top:-5px; 
        margin-right:5px;
    }
    50% {
        margin-left:5px;
        margin-bottom:5px;
    }
    75% {}
    100% {}

}

.anim-wobbly-1{
    animation-name: wobbly-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.el-col-blu{
    color:#13bdb7;
    border-color: #13bdb7;
}

.el-col-pnk{
    color:#f2118d;
    border-color:  #f2118d;
}

.el-col-grn{
    color:#09f266;
    border-color:  #09f266;
}

.el-col-ylw{
    color:#e5fa00;
    border-color: #e5fa00;
}

.el-col-red{
    color:#ff0303;
    border-color: #ff0303;
}

.el-col-gry{
    color:#333333;
    border-color: #333333;
}



