
html, body{
    min-height: 100%;
}

body{
    background-color: black;
    padding-bottom: 80px;
    color: whitesmoke;
}


a{
    text-decoration: none;
    color:#13bdb7;
    margin-top: 2px;
}

.pre{
    font-size:12px; 
    opacity:0.3;
}

small{
    font-size: 12px;
    margin-top: 4px;
}

h1{
    text-align: center;
}

.f-flex{
    display: flex;
    justify-content: space-between; 
}

.middled{
    max-width: 480px;
    margin: 20px auto;
    border:0;
    
}

.inputs{
    max-width: 400px;
    width: 400px;
    min-height: 40px;
    height: 40px;
    border: 5px solid #871a5b;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    padding-left: 15px;
    
}

.textarea{
    height:70px;
}

label{
    margin-left: 50px;
}

.unlocked{
    display: inline-block;
    border-radius: 30px;
    background-color: rgb(44, 4, 37);
    color: whitesmoke;
    border: 1px solid #13bdb7;
    text-decoration: none;
    margin-left: 40px;
    width: 400px;
    margin-top:20px;
    font-size:20px;
    padding:5px;
        
}

/* Lines */
.decolines {
	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    pointer-events: none;
    z-index: -1;
}

.decolines--fixed {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.decoline {
    position: absolute;
    opacity: 0.6 !important; 
}

